<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
  "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html>
  <head>
    {% include head.html %}
  </head>

  <body>
    <header>
      <div class="container">
        <h1>cat blogs</h1>
        <h2>Pixy</h2>

        <section id="downloads">
          <a href="https://github.com/Pixystone/pixystone.github.com" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
        </section>
      </div>
    </header>

    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>

  </body>
</html>